@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat:wght@400;900&family=Tilt+Warp&display=swap');
html, 
body,
#root, 
.app {
    min-height: 100vh; /* Ensure that app is at least the height of the viewport */
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500 md:text-lg;
}


.main-content {
    padding-top: 20px; 
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh; /* Ensure that app is at least the height of the viewport */
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500;/* Replace [Navbar_Height] with the actual height of your navbar */
  }

  /* Add a media query for small screens because the padding is too large for small screens (xs xxs) but is ok for larger screens (md)*/ 
